.toolbar{
  margin-top: 8px;
  background-color: white;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content:right;

  &__button-text{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 4px;

  }

}
